html {
  margin: 0 auto;
  box-sizing: border-box;
}

$color-primary: #e92569;
$color-secondary: #767676;
$color-nav-grey: #efefef;
$color-input: #ffffff;
$color-black: "#0A0A0A";
$color-bg-grey: #e5e5e5;
$font-playfair: "Playfair Display", serif;
$font-lato: "Lato", sans-serif;

// bootstrap
$theme-colors: (
  "primary": $color-primary,
  "dark": $color-nav-grey,
);

$input-bg: $color-input;
$input-border-color: $color-input;
$border-radius: 4px;

$input-placeholder-color: white;

$headings-color: $color-primary;

$body-bg: $color-bg-grey;
$body-color: $color-secondary;

$card-bg: white;

$btn-font-weight: medium;
$btn-font-size: 16px;
$btn-font-family: $font-lato;

$form-label-font-size: 20px;
$form-label-color: $color-secondary;

$form-color-width: 10px;

$font-family-base: $font-lato;
$headings-font-family: $font-playfair;
$headings-color: $color-primary;
$headings-font-weight: 400;
$h1-font-size: 34px;

$nav-tabs-link-active-color: $color-secondary;
$nav-link-color: $color-primary;
$nav-link-hover-color: $color-primary;
$nav-tabs-link-active-bg: white;
$nav-tabs-border-radius: 10px;
$nav-tabs-link-hover-border-color: none;

$carousel-indicator-active-bg: $color-primary;
$carousel-indicator-width: 20px;
$carousel-indicator-height: 20px;

$pagination-color: $color-primary;
$pagination-border-color: $color-primary;
$pagination-focus-color: white;
$pagination-focus-bg: $color-primary;
$pagination-disabled-border-color: none;
$navbar-light-brand-color: $color-primary;
$navbar-light-brand-hover-color: $color-primary;
$container-padding-x: 0px;
$form-label-font-size: 20px;
$form-check-input-checked-bg-color: $color-primary;

@import "~bootstrap/scss/bootstrap";

@import "./partials/tabs";

@import "./partials//cards";

@import "./partials/navbar";

@import "./partials//contact";

@import "./partials//footer";

@import "./partials//general";

@import "./partials//carousel";

@import "./partials//news";
