.col-md-3 {
  padding: 20px;
}

.row {
  margin: 30px;
}

.card {
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  height: auto;
  width: 100px;
  justify-content: center;
}

.card-button {
  color: white;
  border: none;
  text-transform: uppercase;
  width: 80%;
  box-shadow: inset -27px 0 0 0 $color-secondary;
}
