.col-md-3 {
  padding: 20px;
}

.row {
  margin: 30px;
}

.card {
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  height: auto;
  width: 140px;
  justify-content: center;
}

.card-button {
  color: white;
  border: none;
  text-transform: uppercase;
  width: 90%;
  box-shadow: inset -27px 0 0 0 $color-secondary;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  width: 100%;
  color: #0a0a0a;
  font-family: $font-lato;
  font-size: 20px;
}

.card-img-top {
  height: 9rem;
  object-fit: cover;
}
