.search-button {
  border-radius: 0 6px 6px 0;
  color: white;
  height: 35px;
}

.mr-2 {
  margin-right: -5px;
  height: 35px;

  &::placeholder {
    color: $color-secondary;
  }

  &:focus {
    outline: none;
  }
}

.brandlogo {
  font-family: $font-playfair;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-left: 15px;
}

.hnc.active {
  background-color: white;
  border-radius: 3px;
  padding-right: 12px;
  padding-left: 12px;
}

.thenavbar {
  padding: 15px 0px;
}

$navbar-brand-font-size: 20;

$nav-link-color: $color-black;
$nav-link-font-size: 16px;
$nav-link-font-weight: 400;
