.search-button {
  border-radius: 0 6px 6px 0;
  color: white;
}

.mr-2 {
  margin-right: -5px;
}

.mr-2:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.brandlogo {
  font-family: $font-playfair;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.active {
  background-color: white;
  border-radius: 5px;
}

$navbar-light-brand-color: $color-primary;
$navbar-light-brand-hover-color: $color-primary;
$navbar-brand-font-size: 20;
$navbar-padding-y: 15px;
$nav-link-color: $color-black;
$nav-link-font-size: 16px;
$nav-link-font-weight: 400;
